* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
}
  
h2 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  padding: 30px;
}
  
h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
}

.logo-holder {
  display: flex;
}

nav {
  display: flex;

  .mobile-toggle {
    display: none;
  }
}

section {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  
  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.hero {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  
}

